EXPO_PUBLIC_REVENUECAT_IOS_KEY=appl_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=goog_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_SENTRY_DSN=https://XXXXXXXX@oXXXXXX.ingest.sentry.io/XXXXXXX
EXPO_PUBLIC_ENV=development
